.place__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .place__title {
    max-width: 460px;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 668px) {
  .place__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px 0;
  }
}