.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 26px 0 0 0;
  padding: 0;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 668px) {
  .place__paragraph {
    margin: 25px 16px 0;
  }
}