.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  justify-self: flex-end;
}
.footer__copyright:last-child {
  margin-left: auto;
}

@media screen and (max-width: 320px) {
  .footer__copyright:last-child {
    margin-left: 0;
  }
}