.cover {
  max-width: 100%;
  margin: 92px 48px 92px;
  position: relative;
  cursor: pointer;
}

.cover:hover .cover__link::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 64px;
  }
}