.footer {
  display: flex;
  flex-direction: row;
  margin: 28px 48px 24px;
  flex-wrap: wrap;
  gap: 18px;
}

@media screen and (max-width: 1280px) {
  .footer {
    margin: 92px 48px 24px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 64px 16px 24px;
    align-items: flex-start;
    flex-direction: column;
    gap: 48px;
  }
}