.place__website {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

@media screen and (max-width: 668px) {
  .place__website {
    margin: 0 16px 0;
  }
}